body {
	padding-top: 5em;
	width: 100%;
	height: auto;
	background-color: #f3f3f3;
	font-family: sans-serif;
}
.map-section {
	width: 80%;
	margin: 2em auto;
	height: auto;
}
.paragraph-section {
	width: 100%;
	background-color: var(--bg);
}
.paragraph {
	width: 80%;
	margin: 4rem auto;
	background-color: #ececec;
	padding: 2em;
	font-size: 13px;
	text-align: justify;
	color: #6c6c6c;
}
.custom-contact-form-address-section {
	width: 100%;
	background-color: var(--bg);
}
.contact-form-address {
	width: 80%;
	margin: 4rem auto;
	display: flex;
	justify-content: space-between;
	background-color: var(--bg);
}
.parent-contact-address {
	width: 25%;
	color: #6f6f6f;
}
.conatct-address-info {
	margin: 2em 0;
	width: 60%;

	font-size: 13px;
}
.conatct-phone-number-email {
	margin-left: 3px;
}
.conatct-address {
	margin: 1em 0;
	display: flex;
}
.conatct-address i {
	color: #e34748;
	font-size: 33px;
}
.address p {
	margin-left: 5px;
	margin-bottom: 0;
}
.conatct-phone-number p {
	margin: 7px 0;
	margin-bottom: 0;
}
.conatct-phone-number i {
	font-size: 19px;
}
.conatct-email a {
	margin: 9px 0;
	color: #eb524d;
}
.conatct-email i {
	font-size: 17px;
}
