:root {
	--bg: #f3f3f3;
	--bg-light-blue: #90d1cb;
	--white: #ffffff;
}

.text-white {
	color: #ffffff !important;
}
.bg-light-blue {
	background-color: #76c7c1 !important;
}

.shadow-0 {
	box-shadow: none !important;
}
.mb-0 {
	margin-bottom: 0;
}
.pos-up {
	position: absolute;
	top: -1em;
}

/* button-custom-classes */
/* =========================================================================== */
/* =========================================================================== */
.btn-color-gray {
	background-color: #808b8d !important;
}

.btn-color-red {
	background-color: #e2534b !important;
}

/* custom-link */
/* =========================================================================== */
/* =========================================================================== */

.custom-link {
	color: #e2534b;
	text-decoration: none;
}
.custom-link:hover {
	color: #e2534b;
	text-decoration: underline;
}

/* custom-header-section-css */
/* =========================================================================== */
/* =========================================================================== */

.custom-header-section {
	width: 100%;
	font-family: var(--font);
	background-color: #ececec;
	text-align: center;
}
.custom-header {
	width: 80%;
	height: 5rem;
	display: flex;
	margin: auto;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}
.custom-header h5 {
	text-align: center;
	font-weight: normal;
	color: #808a89;
	font-size: 20px;
	margin-bottom: 0;
}
.custom-header-dir p,
.custom-header-dir a {
	margin-bottom: 0;
	color: #808a89;
	font-size: 13px;
}
.custom-header-dir a:hover {
	color: #e8645b;
}

.custom-tip {
	width: 0;
	height: 0;
	position: absolute;
	border: 10px solid #ececec;
	background-color: transparent;
}
.custom-tip-down {
	left: 8rem;
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

/* custom-header-text-css */
/* =========================================================================== */
/* =========================================================================== */
.custom-body-bottom-section {
	background-color: #f3f3f3;
	width: 100%;
	height: auto;
	/* position: relative; */
	text-align: center;
	margin: 0 auto;
	padding-top: 12em;
}
.custom-body-bottom-section-header {
	width: 80%;
	margin: 0 auto;
}
.custom-bottom-section-header p {
	color: #e9645a;
	font-size: 2.6em;
}
.custom-bottom-section-text p {
	font-size: 13px;
	color: #787878;
	margin-bottom: 0;
}

/* custom-page-headers and body css */
/* ========================================================================= */
/* ========================================================================= */

.custom-page-main-section-1 {
	width: 80%;
	margin: 3em auto;
	background-color: #f3f3f3;
}
.custom-page-main-section-1-header h2 {
	color: #e8645a;
}
.custom-page-main-section-1-header p {
	color: #7f8180;
	font-size: 14px;
}
.custom-page-main-section-1-body {
	width: 100%;
	margin: 3rem 0;
	display: flex;
	justify-content: space-between;
}
.custom-main-section-1-body-col {
	width: 21%;
}
.custom-body-col-center-guage-section {
	margin-top: 4.5em;
}
.header-5 {
	color: #798281;
	font-size: 16px;
	font-weight: bold;
}
.custom-body-col-list ul {
	display: block;
	font-size: 13px;
	margin: 2.4em 0;
}
.custom-body-col-list ul li {
	margin: 0.3em 0;
	color: #767676;
}
.custom-body-col-list ul li i {
	color: #e8645a;
}

/* custom-body-section */
/* =========================================================================== */
/* =========================================================================== */

.custom-body-section {
	width: 100%;
	height: 300px;
	background-color: #ececec;
}
.custom-body-section-header {
	width: 80%;
	margin: auto;
	background-color: #ececec;
	height: auto;
}
.custom-body-section-header h2 {
	color: #828e8e;
	padding: 1.3em;
	margin: 0;
	text-align: center;
}
.custom-col-section {
	display: flex;
	justify-content: space-between;
	background-color: #f3f3f3;
}
.custom-col {
	width: 22%;
	background-color: #f8f8f8;
	text-align: center;
	position: relative;
	border-radius: 4px;
	z-index: 20;
	box-shadow: 0 4px #e6e6e6;
	cursor: pointer;
	transition: all 0.5s ease;
}

.custom-team-col-detail {
	width: 100%;
	padding: 2.1em;
	text-align: justify;
	color: #767676;
	font-style: italic;
	font-size: 13px;
}
.custom-team-col-detail-social {
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 80%;
	bottom: 4em;
}
.custom-detail-social-link {
	width: 23%;
	font-size: 2em;
	text-align: center;
	border-radius: 4px;
	background-color: #81bcb6;
	cursor: pointer;
}
.custom-detail-social-link a {
	color: white;
}
.custom-detail-social-link a:hover {
	color: white;
}
.custom-team-col-image i {
	padding: 7rem 89px;
	font-size: 3.6em;
	color: #767676;
}
.custom-col:hover {
	background-color: var(--bg-light-blue);
	transform: scale(1.04);
	color: var(--white);
}
.custom-col:hover .body-section-col-detail {
	color: white;
}
.custom-col:hover .team-col-fill-detail {
	color: white;
}
.custom-col:hover .custom-col-button > button {
	background-color: #e2534b !important;
	box-shadow: 0 3px #e73c33;
}
.custom-col:hover .fill-detail-social-link {
	background-color: #80bbb5;
	box-shadow: none;
}
.custom-col:hover .custom-overlay {
	display: block;
}
.custom-col:hover .custom-overlay-image > .custom-team-col-image > i {
	display: none;
}
.custom-col:hover .related-project-img {
	display: none;
}
.custom-overlay {
	display: none;
}
.custom-col-button {
	width: 100%;
	position: absolute;
	bottom: -1em;
}
.custom-col button {
	width: 80%;
	background-color: #99a3a4;
	text-align: center;
	color: #ffffff;
	padding: 12px 12px;
	font-size: 13px;
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0 4px #778786;
	border-radius: 4px;
}
.custom-col button:active {
	outline: none;
}
/* Guage-meter-section */
/* =========================================================================== */
/* =========================================================================== */

.custom-main-section-1-body-col-center {
	width: 43%;
	font-size: 13px;
	text-align: justify;
	color: #777777;
}

.custom-guage-meter {
	width: 100%;
	display: flex;
	margin-top: 2em;
	justify-content: space-between;
	font-family: sans-serif;
	font-size: 17px;
	color: #9da7a7;
}

.custom-gauge-body {
	width: 100px;
	height: 0;
	padding-bottom: 11%;
	background: #76c7c0;
	position: relative;
	border-top-left-radius: 100% 200%;
	border-top-right-radius: 100% 200%;
	overflow: hidden;
}

.custom-gauge-fill {
	position: absolute;
	top: 83%;
	left: 0;
	width: inherit;
	height: 100%;
	background: #e2534b;
	transform: rotate(0.25turn);
	transform-origin: center top;
	transition: transform 0.2s ease-out;
}

.custom-gauge-cover {
	width: 73%;
	height: 150%;
	background: #f3f3f3;
	border-radius: 50%;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);

	/* Text */
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 25%;
	box-sizing: border-box;
}
.custom-guage-value {
	position: absolute;
	top: 54%;
	left: 36%;
	color: #7f8c8c;
	font-weight: bold;
	/* width: 50%; */
	font-size: 21px;
}
.custom-guage-text {
	/*position: absolute;*/
	display: flex;
	margin: 1em 0;
	justify-content: space-between;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	color: #7f8c8c;
}

/* bottom-carousel-css */
/* =========================================================================== */
/* =========================================================================== */

.bottom-carousel {
	width: 80%;
	margin: 20px auto;
}
.bottom-carousel-head-section {
	display: flex;
	justify-content: space-between;
}
.bottom-carousel-controls {
	display: flex;
}
h6 {
	margin-bottom: 0;
}
.bottom-carousel-head-label h6 {
	color: #7f8c8c;
	margin: 3px 0;
	padding: 3px 0;
	font-weight: bold;
	font-size: 13px;
	font-weight: 900;
	margin-bottom: 0;
}
.control-box {
	width: 20px;
	margin: 0;
	border-radius: 4px;
	margin: 3px;
	background-color: #7f8c8c;
	text-align: center;
	box-shadow: 0 2px #808c8a;
	cursor: pointer;
}
.control-box a span {
	color: #e3e6e6;
	width: 100%;
	height: 100%;
}
.control-box:hover {
	background-color: #e9645a;
}
.control-box:active {
	transform: translateY(2px);
}
.bottom-carousel-slide {
	margin: 6px auto;
}
.bg {
	background-color: #f3f3f3;
}
.con {
	display: flex;
	justify-content: space-between;
	background-color: #f3f3f3;
}
.carousel-box {
	width: 100%;
	height: 100px;
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
}
.carousel-box i {
	padding: 1em 1.6em;
	font-size: 34px;

	color: #7f8c8c;
}

.custom-carousel-controls {
	display: flex;
}
.custom-carousel-control-box {
	border-radius: 4px;
	margin: 0 7px;
	background-color: #99a3a4;
	text-align: center;
	box-shadow: 0 3px #808c8c;
	cursor: pointer;
}
.custom-carousel-control-box i {
	width: 100%;
	height: 100%;
	padding: 7px 10px;
	color: white;
}
.custom-carousel-control-box:hover {
	background-color: #e2534b;
	box-shadow: 0 3px #e2534b;
}
.custom-carousel-control-box:active {
	transform: translateY(2px);
}

/* ============================================================================== */
.custom-form {
	width: 80%;
	margin: 2em auto;
}
.custom-contact-form-address {
	width: 80%;
	margin: 4rem auto;
	display: flex;
	justify-content: space-between;
	background-color: var(--bg);
}
.custom-contact-header-label h5 {
	color: #828c8b;
	font-size: 19px;
	font-weight: normal;
	text-align: left;
	/* margin: 0 1em; */
}
.custom-parent-contact-form {
	width: 55%;
}
.custom-child-contact-form {
	margin: 2em auto;
}
.custom-child-contact-form input[type="text"],
input[type="email"],
textarea {
	padding: 11px;
	margin: 1em 0;
	margin-right: 1.5em;
	width: 70%;
	border-radius: 3px;
	border: none;
	outline: none;
	color: #808a89;
	border-top: 3px solid #d9dbda;
	border-left: 3px solid #d9dbda;
	background-color: #e5e7e6;
}
textarea {
	width: 100%;
	resize: none;
}
label {
	color: #808a89;
}
.custom-child-contact-form button {
	background-color: #e9645a;
	border: none;
	outline: none;
	padding: 0.9em 4.5em;
	border-radius: 5px;
	margin: 1em 0;
	color: white;
	font-size: 16px;
	box-shadow: 0 3px #e34748;
	cursor: pointer;
	transition: box-shadow 0.4s ease;
}
.custom-child-contact-form button:active {
	background-color: #e9645a;
	box-shadow: none;
}

/* portfolio-photo-web-logo-section */
/* ================================================================================= */
/* ================================================================================= */
.custom-portfolio-section {
	width: 80%;
	margin: 2em auto;
	background-color: #f3f3f3;
}
.custom-portfolio-container {
	width: 100%;
	height: auto;
}
.custom-portfolio-row {
	margin-top: 2em;
	margin-bottom: 2em;
	display: flex;
	justify-content: space-between;
}
.custom-w-49 {
	width: 49%;
}
.custom-w-32 {
	width: 32%;
}
.custom-w-23 {
	width: 23%;
}
.custom-portfolio-col {
	background-color: #f8f8f8;
	color: #ececec;
	cursor: pointer;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 3px #e6e6e6;
	transition: all 0.5s ease;
}
.custom-photography-overlay-img i {
	padding: 0.9em 2.23em;
	font-size: 6em;
}
.custom-web-overlay-img i {
	padding: 0.8em 1.3em;
	font-size: 6em;
}
.custom-logo-overlay-img i {
	padding: 0.8em 0.75em;
	font-size: 6em;
}
.custom-portfolio-col:hover {
	background-color: #83ccc5;
	color: #ffffff;
	transform: scale(1.04);
}
.custom-portfolio-detail-url {
	width: 100%;
	display: flex;
	position: absolute;
	justify-content: center;
	top: 38%;
}
.custom-portfolio-overlay-detail {
	display: none;
}
.custom-portfolio-col:hover .custom-portfolio-photo-col-overlay {
	display: none;
}
.custom-portfolio-col:hover .custom-portfolio-overlay-detail {
	display: block;
}
.custom-photo-box {
	background-color: #76b4af;
	border-radius: 5px;
	margin-right: 4px;
	margin-left: 4px;
	cursor: pointer;
}
.custom-photo-box i {
	padding: 9px;
	color: #ffffff;
	font-size: 22px;
}
.custom-photo-box:hover {
	background-color: #e2534b;
}
.custom-photo-text {
	width: 100%;
	position: absolute;
	bottom: 13%;
	text-align: center;
}
.custom-photo-text p {
	font-weight: bold;
}
