body {
	padding-top: 5em;
	font-family: sans-serif;
	background-color: #f3f3f3;
}
/* portfolio-links-bar  */
/* =================================================================== */
/* =================================================================== */
.portfolio-links-bar {
	width: 80%;
	margin: 2em auto;
}
.portfolio-list {
	list-style: none;
}
.portfolio-list-item {
	margin: 0 10px;
	color: #ffffff;
	padding: 4px 15px;
	background-color: #99a3a4;
	border: none;
	border-radius: 5px;
	box-shadow: 0 3px #808c8c;
	cursor: pointer;
}
.portfolio-links {
	color: #ffffff;
	width: 100%;
	height: 100%;
	text-decoration: none;
	font-size: 13px;
}
.portfolio-list-item:hover {
	background-color: #e96759;
	box-shadow: 0 3px #e3524d;
}
.portfolio-links:hover {
	color: #ffffff;
	text-decoration: none;
}

/* portfolio-main-section */
/* =================================================================== */
/* =================================================================== */
.main-portfolio-row {
	width: 100%;
	margin: 2em auto;
	height: auto;
	display: flex;
	justify-content: space-between;
}
.main-portfolio-col {
	width: 49%;
}

.main-portfolio-col-img {
	background-color: #f8f8f8;
	color: #ececec;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 3px #e8e8e8;
	transition: all 0.5s ease;
}
.main-portfolio-col-img:hover {
	background-color: #76caca;
	color: #ffffff;
	transform: scale(1.04);
}

.main-portfolio-col-img i {
	padding: 0.7em 2.2em;
	font-size: 6em;
}
.main-portfolio-header h5 {
	color: #7e8281;
}
.main-portfolio-detail p {
	color: #797f7f;
	font-size: 13px;
	text-align: justify;
	margin-top: 1em;
	margin-bottom: 2em;
}
.main-portfolio-link {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.icon-url {
	width: 40%;
	display: flex;
	justify-content: space-between;
}
.main-portfolio-link-icon {
	background-color: #528b85;
	color: #ffffff;
	border-radius: 5px;
}
.main-portfolio-link-icon a {
	width: 100%;
	height: 100%;
	color: #ffffff;
}
.main-portfolio-link-icon i {
	padding: 7px;
	font-size: 24px;
}
.main-portfolio-link-url a {
	margin: 0;
	text-decoration: none;
	font-size: 21px;
	color: #787e7e;
}
.main-portfolio-link-url a:hover .main-portfolio-link-icon > a > i {
	background-color: #e2534b !important;
}
.main-portfolio-link-url a:hover {
	color: #e35445;
}
.main-portfolio-link-btn button {
	background-color: #76caca;
	color: white;
	border: none;
	outline: none;
	padding: 12px 36px;
	font-size: 13px;
	border-radius: 5px;
	box-shadow: 0 3px #65bcc3;
	transition: all 0.5s ease;
}
.main-portfolio-link-btn button:hover {
	background-color: #e9645a;
	box-shadow: 0 3px #e15548;
	transform: scale(1.04);
}

/* portfolio-pagination */
/* =================================================================== */
/* =================================================================== */
.pagination-section {
	width: 80%;
	margin: 2em auto;
}
.pagination {
	width: 100%;
	justify-content: center;
}
.pagination-links {
	background-color: #8c9898;
	color: #ffffff;
	padding: 6px 11px;
	cursor: pointer;
	margin: 0 7px;
	font-weight: bold;
	font-size: 13px;
	border-radius: 5px;
	text-decoration: none;
	box-shadow: 0 3px #828b8a;
}
.pagination-links:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #e6655f;
	box-shadow: 0 3px #e55143;
}
.pagination-links:active {
	background-color: #659893;
	box-shadow: 0 3px #4d8f80;
}
