body {
	padding-top: 5em;
	width: 100%;
	height: auto;
	background-color: #f3f3f3;
	font-family: sans-serif;
}
.portfolio-head-carousel-section {
	width: 80%;
	margin: 2em auto;
}
.portfolio-head {
	margin: 2em auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.portfolio-head-name h3 {
	color: #7c8c8b;
	font-size: 25px;
	margin-bottom: 0;
}
.justify-left {
	justify-content: left;
}
.justify-flex-end {
	justify-content: flex-end;
}
.project-detail-section {
	width: 80%;
	margin: 2em auto;
	display: flex;
	justify-content: space-between;
}
.project-description {
	width: 65%;
	font-size: 14px;
	color: #858988;
	text-align: justify;
}
.project-detail {
	width: 25%;
}
h5 {
	color: #87908f;
	font-size: 16px;
	font-weight: bold;
	margin: 1em auto;
}
p {
	margin: 0;
}
.project-description-para p {
	margin: 1em auto;
	margin-bottom: 1.5em;
}
.project-detail-row {
	display: flex;
	justify-content: space-between;
	margin-top: 11px;
	margin-bottom: 11px;
	height: auto;
	text-align: center;
}

.project-detail-row p {
	color: #787878;
	font-size: 13px;
}
.project-logo-text {
	display: flex;
}
hr {
	margin: 0;
}
.project-icon i {
	width: 35px;
	height: 20px;
	color: #c2c6c7;
	font-size: 16px;
}
.project-detail-col-3 {
	width: 40%;
	height: auto;
	text-align: right;
}
.project-detail-col-3 a {
	font-size: 12px;
	color: #e64857;
}
.project-carousel {
	width: 100%;
	margin: 1em auto;
}
.padding-2 {
	padding: 1em 0.5em;
}

.related-project-col-section {
	display: flex;
	justify-content: space-between;
	background-color: #f3f3f3;
}
.related-project-col {
	width: 22%;
	background-color: #ffffff;
	text-align: center;
	position: relative;
	border-radius: 4px;
	box-shadow: 0 4px #e7e6ec;
	cursor: pointer;
	transition: transform 0.5s ease;
}
.related-project-col:hover {
	background-color: #83ccc5;
	transform: scale(1.04);
	color: #ffffff;
}
.related-project-col:hover .related-project-img {
	display: none;
}
.related-project-col:hover .related-project-overlay {
	display: block;
}
.realted-project-col:hover .related-col-overlay-image {
	display: none;
}
.related-col-overlay-image {
	display: block;
}
.related-project-overlay {
	display: none;
}
.related-project-section {
	width: 80%;
	margin: 2em auto;
}
.related-project-header-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.related-project-img i {
	padding: 80px;
	font-size: 5em;
	color: #ececec;
}
.related-project-detail-url {
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	top: 36%;
	color: #ffffff;
}
.related-project-box {
	border-radius: 5px;
	margin: 5px;
	color: #ffffff;
	background-color: #76b7b3;
}
.related-project-box a {
	color: #ffffff;
}
.related-project-box i {
	padding: 9px 8px;
	width: 100%;
	height: 100%;
	font-size: 22px;
}
/* .related-project-text {
	width: 100%;
	position: absolute;
	bottom: 10%;
} */

.related-project-box:hover {
	background-color: #dd5346;
}
.related-project-text p {
	width: 100%;
	position: absolute;
	bottom: 15%;
	text-align: center;
	font-weight: bold;
}
